.collections {
  text-align: center;
  .wrap__collections1, .wrap__collections2 {
    .box__collections {
      img {
        border-radius: 16px;
      }
    }
  }
  .wrap__collections1 {
    margin-bottom: 40px;
  }
  .collections__btn {
    text-align: center;
    margin-top: 68px;
  }
}