.join {
  .join__title {
    h2 {
      line-height: 0.8;
    }
  }
  .join__box {
    text-align: center;
    padding: 48px;
    border-radius: 16px;
    background-color: var(--btn);
    i {
      font-size: 60px;
    }
    .join__box-title {
      font-size: 44px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }
}